body{
    padding-top: 3%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0.0%,95%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:rgb(122, 122, 122) ;
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(51, 49, 51);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(66, 65, 66);

}
button:active{
    background-color: rgb(66, 65, 66) ;
}

.opertor{
    background-color: rgb(97, 46, 63);
}
.opertor:hover{
    background-color: rgb(134, 65, 88);
}
.opertor:active{
    background-color: rgb(145, 69, 94);
}